/*********************************************************************************/
/* Date Picker                                                                   */
/*********************************************************************************/
.contOfDate{
    
     width: 100%;
     height: 40px;
     cursor: pointer;
     border: solid 1px rgb(230,20,230);
     border-radius: 5px;
     border-color: rgba(255, 204, 102,1);
     color: #063d7d;
     position: relative;
     text-align: left;
     color: #ffffff;
}
/*********************************************************************************/
/* Input                                                                         */
/*********************************************************************************/
.dateInp{
    border-style: none;
    height: 15px;
    float: right;
    padding-top: 13px;
    padding-right: 10px;
    padding-bottom: 13px;
    color: rgba(255, 204, 102,1);
    
}
/*********************************************************************************/
/* Image                                                                         */
/*********************************************************************************/
.dateImage{
    margin-top: 13px;
    margin-left: 10px;
    color: rgba(255, 204, 102,1);
}
/*********************************************************************************/
/* Date Details                                                                  */
/*********************************************************************************/
.dateDetails{
  width: 220px;
  height: auto;
  top:42px;
  z-index: 1;
  position: absolute;
  background-color: #787878;
  padding: 5px;
  /*box-shadow: 0 1px 1px rgba(255, 204, 102, .9);*/
  border: solid 2px #787878;
  border-radius: 10px;
  text-align: center;
}
#dateDetails1{
  display: none;
}
#dateDetails2{
  display: none;
}
/*********************************************************************************/
/* Head Of Details                                                                      */
/*********************************************************************************/
.headOfDate{
    text-align: center;
    color: #FFAA33;
}
.dateImage1{
    width: 20px;
    height: 20px;
}
.back1{
/*     -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
 
  cursor:pointer;*/
 float: left;
}
.back2{
   float: right;
}
/*********************************************************************************/
/* Title                                                                      */
/*********************************************************************************/
.titleOfDate{
    margin-top: 10px;
    color: #FFF;
    border-bottom: solid 1px #FFAA33;
}
.listOfDay{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 11px;
}
.listOfDay li{
    display: inline-block;
    width: 26px;
    text-align: center;
}

/*********************************************************************************/
/* Table                                                                      */
/*********************************************************************************/
.tableOfDate{
    margin-top: 10px;
}
.tableOfDate .td{
    width: 30px;
    text-align: center;
    color: #FFAA33;
}
.tableOfDate .tdNone{
    
    text-align: center;
    color: red;
}
.tableOfDate .tdCurrent{
    color: green;
    background-color: #aa0055;
}

/*********************************************************************************/
/* Date Visible                                                                  */
/*********************************************************************************/
#DateIdVisible{
   visibility: hidden;
}